html, body {
    background: url(../images/pastel-ombre-background-in-pink-and-purple_53876-120750.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
}

.container {
    background: rgb(245, 199, 230);
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 2rem;
    text-align: center;
    border-radius: .3rem;
    max-width: 90rem;
}

.product {
    background: white;
    
}

.container .product {
    padding: 1rem;
    border: 1px solid black;
    border-radius: .3rem;
    width: 25%;
    float: left;
    vertical-align: top;
    position: relative;
    min-width: 10rem;
}

.product .img_container img {
    max-width: 100%;
    max-height: 10rem;
    /* min-height: 5rem; */
   }

.product .add_to_cart {
    width: 2.5rem;
    position: absolute;
    top: .3rem;
    right: .5rem;
}

.add_to_cart {
    padding: 0;
    padding-top: .2rem;
}

.to_buy {
    display: inline-block;
    box-sizing: border-box;
    max-width: 1.8rem;
}

a {
    text-decoration: none;
}

p {
    font-weight: 700;
    color: rgb(113, 16, 113);
}

.product .img_container {
    border: 1px solid rgb(80, 32, 114);
    box-shadow: 0px 0px 13px rgb(150, 86, 196);
    display: inline-block;
    max-width: 70%;
    min-width: 50%;
    padding: 1rem;
}

.shadow {
    display: none;
}

.product:hover .shadow {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
}

.shadow .button_wrapper {
    position: absolute;
    /* top:calc(50% - 1rem); */
    top: 18%;
    right: 0;
    left: 0;
    text-align: center;
}

.shadow .button_wrapper button {
    background: rgb(63, 9, 77);
    color: white;
    font-weight: 700;
    padding: .3rem 1.2rem;
    border-radius: .3rem;
}

.container .product:hover {
    transform: scale(1.05);
    transition: transform .5s;
    z-index: 1;
}

.container .product .more-info {
    max-height: 0;
    overflow: hidden;
    margin: 0;
    text-align: left;
}

.container .product:hover .more-info{
    max-height: 30rem;
    transition: max-height .8s;
}


.dropdown_block {
    text-align: left;
}
.dropdown_block .dropdown {
    display: inline-block;
    position: relative;  
    margin-bottom: 1rem;
    cursor: pointer;
    font-weight: 700;
}

.category {
    background: rgb(63, 9, 77);
    color: white;
    padding: .5rem 1rem;
}

.dropdown_block .dropdown ul {
    max-height: 0;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background: rgb(245, 199, 230);
    z-index: 1; 
    left: 0;
    right: 0;
}

.dropdown_block .dropdown:focus > ul {
    max-height: 30rem;
    transition: max-height 1s;
}

.dropdown_block .dropdown ul li {
    color: rgb(63, 9, 77);
    border: 2px solid rgb(63, 9, 77);
    border-top: none;
    padding: .2rem 1rem;
    position: relative;

}
.dropdown_block .dropdown ul li:hover {
    background: white;
}

.parachute-block {
    position: fixed;
    top: 0;
    z-index: 5;
    transition: top 5s;
}

.parachute-block img {
    max-height: 10rem;
}

body .container:hover + .parachute-block {
    top: 76%;
}

.clearfix:after {
    display: block;
    content: ' ';
    clear: both;
}

@media screen and (max-width: 640px) {
    .container .product {
        width: 100%;
    }

}

@media screen and (min-width: 640px) {
    .container .product {
        width: 50%;
    }

}

@media screen and (min-width: 900px) {
    .container .product {
        width: 33.333333%;
    }
    
}

@media screen and (min-width: 1200px) {
    .container .product {
        width: 25%;
    }

}

